<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638956020672-4fbm1ar7hs7rv7r0mlut23v2g66j74lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638956020672-4fbm1ar7hs7rv7r0mlut23v2g66j74lr</string>
	<key>API_KEY</key>
	<string>AIzaSyB8SBPIdbxBWiH9ILiWEYJeIEriDBcBTjk</string>
	<key>GCM_SENDER_ID</key>
	<string>638956020672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abukhleif.qooty</string>
	<key>PROJECT_ID</key>
	<string>qooty-akf</string>
	<key>STORAGE_BUCKET</key>
	<string>qooty-akf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638956020672:ios:6b9336bbea0e4c239e5e25</string>
	<key>DATABASE_URL</key>
	<string>https://qooty-akf.firebaseio.com</string>
</dict>
</plist>